*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin-top: 10%;
  text-align: center
}
.chooseCountcontainer {
  font-size: 1rem;
  text-transform:uppercase;
}
input {
  width: 100px;
  height: 10px;
  font-size: 1rem;
  border: 3px solid palevioletred;
  border-radius: 10px;
  padding: 10px;
}

#submitCount {
  width: 100px;
  height: 30;
  margin-top: 20px;
  cursor: pointer;
  border: 3px solid palevioletred;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
  padding: 5px
}

#submitCount:hover {
  background: #4c9196;
  color: white;
  transition: 0.25s;
}

#submitCount:disabled {
  background-color: yellowgreen;
  color: black;
  border: 3px solid yellowgreen;
  cursor: not-allowed;
}


#submitStartValue {
  width: 100px;
  height: 30;
  margin-top: 20px;
  cursor: pointer;
  border: 3px solid palevioletred;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 40px;
  background-color: white;
  padding: 5px
}

#submitStartValue:hover {
  background: #4c9196;
  color: white;
  transition: 0.25s;
}

#submitStartValue:disabled {
  background-color: yellowgreen;
  color: black;
  border: 3px solid yellowgreen;
  cursor: not-allowed;
}

.btn {
  width: 100px;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  margin: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid palevioletred;
  background-color: white;

}
.btn:hover {
 background: #4c9196;
  color: white;
  transition: 0.25s;
} 

#value {
  font-size: 5rem;
}

#reset-page-btn {
  width: 300px;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  margin: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid palevioletred;
  background-color: white;
}
#reset-page-btn:hover {
  background-color: #4c9196 ;
  color: white;
  transition: 0.25s;
}